html{
   background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(134, 28, 99, 0.73)),
    url('https://i.picsum.photos/id/1016/3844/2563.jpg?hmac=WEryKFRvTdeae2aUrY-DHscSmZuyYI9jd_-p94stBvc');
    width: auto;
    height: auto;
    background-size: cover;
    color: white;
}

img {
  display: block;  
  -webkit-clip-path: url(#mask);
  clip-path: url(#mask);
  margin: 0 auto;
}

*{
  margin: 0;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
}

great{
  border-style: solid;
  border-width: 5px;
}

p{margin: auto;
  padding: 20px;
  width: 70%;
  font-size:x-large;
  color: white;
  background: rgba( 37, 14, 14, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

form{
  padding: 50px;
  align-self: auto;
  background: rgba( 37, 14, 14, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


}

#thursimg{
  border-radius: 50%;
  border-style:ridge;
  border-width: 1px;
  border-color: black;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul{
  top: 0px;
  left: 0;
  right: 0;
  position: 0;
  position: fixed;
  background-color: rgb(255, 136, 0);
  padding: 20px;
  }

li{
  display: inline-block;
}

a{
  color: white;
  padding: 10px;
  font-family: sans-serif;
  text-decoration: none;
}   

a:hover{color:rgb(252, 0, 117)}

input{  
  color: rgb(0, 0, 0);
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  font-size:x-large;
  }

#sendbut{
  font-size: x-large;
margin-left: 40%;
}

table{
  margin: 60%;
  padding: 1030;
}
   
label{
  font-size:x-large;
  font-style: italic;
}
      
h1 {
  text-align: center;
  top: 60px;
  position: fixed;
  font-size: 75px;
  text-shadow: 0rem;
  color: rgb(255, 136, 0);
  background: rgba( 255, 255, 255, 0.4 );
}

#ContactUsHeading{
  position:relative;
  text-align: center;
}

table{
  margin:20px;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  flex-direction:row;
  gap:100px; 
  padding: 100px;
}

/*Flip Cards Start here!*/

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  padding: 50px;
  border-radius: 25px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: flex;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  border-style:ridge;

  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(255, 30, 30);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
} 

/* Timeline Code */


* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

h3{
  color: rgb(255, 136, 0);
}
p3{color:black}

#page5{
  -webkit-border-radius: 50px;
border-radius: 50px;
background: #202229;
-webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}

#homepage{
  background: #202229;
}